.searchBar {
  width: calc(100% - 80px);
  height: 70px;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 30px;
  position: fixed;
  top: 0;
  left: 80px;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid var(--border-primary);
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  
  svg {
    width: 40px;
    height: 40px;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px 12px;
  gap: 10px;
  transition: all 0.3s ease;
  width: 50px;
  overflow: hidden;
  
  &.expanded {
    width: 500px;
    background-color: var(--bg-secondary);
  }
  
  &:hover {
    border: soild 1px #ffffff;
  }
}

.searchButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: #808080;
  transition: color 0.3s ease;
  
  &:hover {
    color: var(--text-primary);
  }
  
  svg {
    width: 25px;
    height: 25px;
  }
}

.searchInput {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-primary);
  font-size: 14px;
  padding: 0;
  opacity: 0;
  width: 0;
  transition: opacity 0.3s ease;
  
  &::placeholder {
    color: var(--text-tertiary);
  }
  
  .expanded & {
    opacity: 1;
    width: auto;
  }
}
