@keyframes serverPulse {
    0%, 100% {
        fill-opacity: 1;
        filter: brightness(1);
    }
    50% {
        fill-opacity: 0.5;
        filter: brightness(1.3);
    }
}

.animPulse1 {
    animation: serverPulse 1.5s infinite 0s;
}

.animPulse2 {
    animation: serverPulse 1.5s infinite 0.2s;
}

.animPulse3 {
    animation: serverPulse 1.5s infinite 0.4s;
}

.animPulse4 {
    animation: serverPulse 1.5s infinite 0.6s;
}
