.storageWrapper {
    width: 100%;
    height: 100vh;
    background: #272727;
    color: white;
}

.container {
    width: 80%;
    padding: 0 32px;
    margin-top: 90px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}